@use '../base/base' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
html {
    font-family: 'Open Sans', sans-serif;
    background: #1d2226;
}
@-webkit-keyframes shake {
    0%  { -webkit-transform:     translate(1px, 1px) rotate(0deg); }
    1% { -webkit-transform:     translate(-1px, -1px) rotate(-1deg); }
    2% { -webkit-transform:     translate(0px, 0px) rotate(1deg); }
    3% { -webkit-transform:     translate(-1px, 1px) rotate(0deg); }
    4% { -webkit-transform:     translate(1px, -1px) rotate(-1deg); }
    5% { -webkit-transform:     translate(-1px, 1px) rotate(1deg); }
    6% { -webkit-transform:     translate(1px, 1px) rotate(0deg); }
    7% { -webkit-transform:     translate(1px, 1px) rotate(-1deg); }
    8% { -webkit-transform:     translate(-1px, -1px) rotate(1deg); }
    9% { -webkit-transform:     translate(1px, 0px) rotate(0deg); }
    10%{ -webkit-transform:     translate(1px, -1px) rotate(1deg); }
    11%  { -webkit-transform:     translate(0px, 0px) rotate(0deg); }
    89%  { -webkit-transform:     translate(0px, 0px) rotate(0deg); }
    90%  { -webkit-transform:     translate(1px, 1px) rotate(0deg); }
    91% { -webkit-transform:     translate(-1px, -1px) rotate(-1deg); }
    92% { -webkit-transform:     translate(0px, 0px) rotate(1deg); }
    93% { -webkit-transform:     translate(-1px, 1px) rotate(0deg); }
    94% { -webkit-transform:     translate(1px, -1px) rotate(-1deg); }
    95% { -webkit-transform:     translate(-1px, 1px) rotate(1deg); }
    96% { -webkit-transform:     translate(1px, 1px) rotate(0deg); }
    97% { -webkit-transform:     translate(1px, 1px) rotate(-1deg); }
    98% { -webkit-transform:     translate(-1px, -1px) rotate(1deg); }
    99% { -webkit-transform:     translate(1px, 0px) rotate(0deg); }
    100%{ -webkit-transform:     translate(1px, -1px) rotate(1deg); }

}